<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <h2>{{ block('title') }}</h2>
        <div>
            {% block body %}{% endblock %}
        </div>
        <div style="margin-top: 1em">
            {% block signature %}Lo staff di Randa to Randa{% endblock %}
        </div>
    </body>
</html>
