@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$body-font-family: 'Montserrat', cursive;
$navigation-drawer-mobile-temporary-elevation: 40;

$primary: #5C6E58;
$secondary: #cc5803;
$accent: #F2D349;
$lightgrey: #e2e2e2;


$error: #b71c1c;
$info: #2196F3;
$success: #4CAF50;
$warning: #FFC107;

$sm: 600px;

$button-xs: 32px;
$button-sm: 40px;