@import "./variables.scss";
.title {
    color: $primary!important;
}

//ir
.ir-bg-primary {
    background-color: $primary;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@mixin absolute-button($top-or-bottom, $left-or-right, $size) {
    position: absolute;
    #{$top-or-bottom}: -($size / 2);
    #{$left-or-right}: 0;
  }