body, h1, h2, h3, h4, h5, h6, p, div, span, small, a, .v-application .headline.white--text {
    font-family: 'Muli', sans-serif!important;
}
.red_card {
    border: 1px solid #cf2030;
    border-radius: 5px;
    padding: 20px;
}
.link {
    cursor: pointer;
    text-decoration: underline;
    color: #cf2030;
}