// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

$lightgreen: #A9CF54;
$lightyellow: #F7E967;
$lightred: #F1433F;
$lightgrey: #3B4A51;

